<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header class="header">
		<nav>
			<a href="" class="logo">code fair</a>
			<button type="button" class="register">Register</button>
			<input class="menu-btn" type="checkbox" id="menu-btn" />
			<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
			<ul class="menu">
				<li><a href="#about">About</a></li>
				<li><a href="#Registration">Registration</a></li>
				<li><a href="#Timetable">Timetable</a></li>
				<li><a href="#PreviousYears">History</a></li>
			</ul>
		</nav>
	</header>
	<main id="body">
		<section class="descriptionSection">
			<div class="grid-container">
				<div class="grid-item"></div>
				<div class="grid-item"></div>
				<div class="grid-item grid-item3">
					<div class="descriptionLogo">
						<picture>
							<source media="(min-width: 768px)" srcset="./images/CDULogoBigDifferent_340.png">
							<source media="(min-width: 400px)" srcset="./images/CDULogoBigDifferent_170.png">
							<!-- Fall back image in case picture not supported-->
							<img class="headerLogo" src="./images/CDULogoBigDifferent_340.png" alt="Charles Darwin University header Logo image">
						</picture>
					</div>
				</div>
				<div class="grid-item grid-item4">
					<section class="bodyParagraphWidth">
						<h1>Heading 1 item</h1>
						<p>Paragraph description of what the page is about.</p>
					</section>
				</div>
				<div class="grid-item grid-item5">
					<button class="bigRegisterButton" type="button">Button template</button>
					<!-- Only show this logo on the small screen for phone -->
					<img class="headerLogoSmall" src="./images/CDU_Logo_Text.jpg" alt="Charles Darwin University Logo image for smaller screens">
				</div>
				<div class="grid-item grid-item6">
				</div>
			</div>
			<hr class="purpleLine">
		</section>
		<section class="eventHeader">
			<div class="eventInfoContainer">
				<h2>h2 - Page wide section heading</h2>
			</div>
		</section>	

		<section class="eventInformation">
			
		</section>

		<hr class="purpleLine">

		<section class="eventHeader">
			<div class="eventInfoContainer">
				<h2>h2 - Page wide section heading again</h2>
			</div>
		</section>

	</main>
	<footer class="footer">
		<div class="FooterCopyright">© Copyright Alexander Worrall</div>
		<div class="FooterSocialIcons"></div>
	</footer>
</body>
</html>
